* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  width: 100%;
}

.d-flex {
  display: flex;
}
.gap {
  gap: 15px;
}

.gap10 {
  gap: 10px;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.background-cover {
  width: 414px;
  height: 557px;
  position: relative;
}

.intro-container {
  width: 414px;
  height: 374px;
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: 522px;
  left: 0;
  background-color: white;
}

.intro {
  margin-top: 30px;
  padding: 13px;
}

.intro > div {
  justify-content: center;
}

.intro h1 {
  font-size: 28px;
  line-height: 38px;
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

.intro p {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  text-align: center;
}
.dot-wrapper {
  gap: 10px;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: rgba(112, 110, 110, 0.699);
  border-radius: 50%;
  display: inline-block;
}
.dot:first-child {
  background-color: black;
}
input {
  width: 358px;
  height: 75px;
  background-color: rgba(13, 183, 183, 1);
  color: white;
  border-radius: 12px;
  margin-top: 30px;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  line-height: 27px;
  border: none;
  cursor: pointer;
}

/* sreen3 style */

.nav-links {
  margin-top: 15px;
  padding: 10px;
}

.nav-links a :hover {
  background-color: white;
}

.logout-container {
  cursor: pointer;
}

.more-container {
  width: 100%;
  justify-content: end;
  gap: 15px;
  cursor: pointer;
}

.descreption {
  margin-inline: auto;
  padding: 25px;
  width: 414px;
  height: 360px;
  background-color: white;
  border-radius: 40px 40px 0 0;
}

.descreption h1 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

.descreption p {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
}

.background-color {
  background-color: #dddddd7e;
}
.button3 input {
  width: 188px;
  height: 67px;
  background-color: rgba(13, 183, 183, 1);
  color: white;
  border-radius: 18px;
  margin-top: 30px;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  line-height: 27px;
  border: none;
  cursor: pointer;
}
.button3 input:last-child {
  background-color: black;
}

.grid-container {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 30% auto;
}
.item1 {
  text-align: center;
}
.item3 {
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: start;
}
