.logo-container {
  width: 100%;
  gap: 235px;
}

.logo-container > div {
  gap: 20px;
  margin-top: 20px;
}

.container {
  width: 992px;
  height: auto;
}

.nav > div {
  margin-top: 20px;
}

.container a {
  font-family: "Josefin Sans", sans-serif;
}
