@import "../style/reset.css";
@import "../style/header.css";
@import "../style/flexbox.css";
@import "../style/shop.css";
@import "../style/footer.css";

.intro {
  margin-top: 50px;
}
.intro {
  margin-top: 100px;
  position: relative;
}
.intro-content {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 450px;
  height: 500px;

  padding: 45px;
}
.intro h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  font-weight: 400;
}

.intro p {
  font-family: "Cedarville Cursive", cursive;
  font-size: 20px;
}

.intro input {
  width: 235px;
  height: 54px;
  background-color: #2d635e;
  border-radius: 10px;
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin-top: 0;
}
.intro-media {
  position: relative;
  width: 450px;
  height: 500px;
  border-radius: 20px;

  background-color: #e3ebe7;
}

.coffee-logo {
  position: absolute;
  top: 180px;
  left: 70px;
}

.social-media {
  display: grid;
  width: 50px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 17px;
}

.section1 {
  width: 100%;
  margin-top: 200px;
  gap: 40px;
}

.part1 {
  width: 403px;
  height: 352px;
  position: relative;
  bottom: 0;
  background-color: #fae9e0;
}
.part1-img {
  position: absolute;
  top: 129px;
  left: 48px;
}

.part2 {
  display: grid;
  width: 645px;
  height: 352px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 19px;
}
.part2 h1 {
  font-family: "Josefin Sans", sans-serif;
  /* margin-top: 0; */
}

.part2 p {
  margin-top: 0;
}

.section2 {
  width: 100%;
  margin-top: 200px;
}

.part2 h1 {
  margin-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.part4 {
  width: 370px;
  height: 250px;
  background-color: #e3ebe7;
  position: relative;
}

.part4-img {
  position: absolute;
  top: -50px;
  left: 75px;
}
