@import "../styles/flexbox.css";
@import "../styles/header.css";
@import "../styles/reset.css";

.equipment {
  margin: 10px;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 12px;
  padding: 5px;
}
.trainers {
  border: 2px solid rgb(8, 8, 8);
  border-radius: 12px;
  padding: 5px;
  margin: 10px;
}
.diet-plan {
  border: 2px solid rgb(8, 8, 8);
  border-radius: 12px;
  padding: 5px;
  margin: 10px;
}

.media {
  margin: 60px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.sale-p {
  font-size: 30px;
}

p {
  padding: 10px;
}
h1 {
  text-align: center;
  color: rgb(221, 77, 33);
}
span {
  color: rgb(221, 77, 33);
}
