@import "../styles/flexbox.css";
@import "../styles/header.css";
@import "../styles/reset.css";

.equipment {
  border: 1px solid rgb(22, 22, 21);
  margin: 10px;
}
.trainers {
  border: 1px solid rgb(22, 22, 21);
  margin: 10px;
}
.diet-plan {
  border: 1px solid rgb(7, 7, 7);
  margin: 10px;
}

.media {
  margin: 60px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.sale-p {
  font-size: 30px;
}

p {
  padding: 10px;
}
h1 {
  text-align: center;
}
