body {
  background-image: url(https://www.myfitnesspal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-collage-top-large%402x.dcc5ac56.png&w=3840&q=75);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

h1 {
  color: rgb(114, 122, 36);
  font-family: "Gideon Roman", cursive;
  font-size: 40px;
  text-align: left;
  margin-left: 70px;
}
.quotes {
  font-family: "Gideon Roman", cursive;
  margin-left: 120px;
  margin-top: 70px;
  font-size: 60px;
  color: rgb(5, 17, 8);
}
.intro {
  font-family: "Alfa Slab One", cursive;
  font-family: "Indie Flower", cursive;
  margin-left: 120px;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(5, 17, 8);
}
input[type="button"] {
  width: 350px;
  height: 50px;
  font-size: 20px;
  font-family: "Gideon Roman", cursive;
  background-color: #cbccf7;
  border: none;
  color: rgb(100, 92, 92);
  padding: 16px 32px;
  text-decoration: none;
  margin-left: 120px;
  margin-top: 30px;
  cursor: pointer;
  white-space: nowrap;
}

#navbar {
  background-color: rgb(52, 139, 209);
  overflow: auto;
}

#navbar a {
  display: inline-block;
  color: rgb(250, 246, 246);
  text-align: center;
  margin-left: 70px;
  padding: 14px;
  text-decoration: none;
}
#navbar a:hover {
  background-color: rgb(167, 190, 204);
}
