* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: brown;
}

.media {
  background-image: url(../images/jewlery.webp);
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
}
.grid-container {
  display: grid;
}
.container {
  display: grid;
  align-items: center;
  gap: 100px;
  background-color: rgb(42, 44, 42);
  color: white;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.grid-column-template {
  grid-template-columns: auto auto auto;
}

.navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 30px;
}

.register {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

section h1 {
  text-align: center;
  font-size: 4em;
  font-family: "Shizuru", cursive;
  margin-top: 0px;
  margin-bottom: 50px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 10px;
}
.grid-wrap {
  position: relative;
  margin: 0;
  padding: 10px;
}

.grid-wrap ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-auto-flow: dense;
  gap: 2px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.grid-wrap ul li {
  position: relative;
}

.grid-wrap ul li:nth-child(1) {
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(2) {
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(3) {
  grid-row: span 2;
  grid-column: span 5;
}
.grid-wrap ul li:nth-child(4) {
  grid-row: span 2;
  grid-column: span 6;
}
.grid-wrap ul li:nth-child(5) {
  grid-row: span 2;
  grid-column: span 3;
}
.grid-wrap ul li:nth-child(6) {
  grid-row: span 3;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(7) {
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(8) {
  grid-row: span 2;
  grid-column: span 5;
}
.grid-wrap ul li:nth-child(9) {
  grid-row: span 3;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(10) {
  grid-row: span 2;
  grid-column: span 5;
}
.grid-wrap ul li:nth-child(11) {
  grid-row: span 2;
  grid-column: span 4;
}

.grid-wrap ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrap ul li:hover {
  filter: opacity(0.8);
  transition: 0.2s;
  cursor: pointer;
}
.grid-container {
  display: grid;
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 20px;
}
.about h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
}
.about p {
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
}

.about > div {
  text-align: center;
  gap: 20px;
}

.item2 {
  background-color: #a25528;
}

h2 {
  font-size: 60px;
  font-family: "Shizuru", cursive;
}
