#scrollmenu {
  background-color: rgb(181, 222, 255);
  overflow: auto;
  white-space: nowrap;
}

#scrollmenu a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#scrollmenu a:hover {
  background-color: rgb(255, 239, 239);
}

table,
th,
td {
  border: 1px solid black;
}
th,
td {
  background-color: rgb(183, 215, 237);
}

h1 {
  color: rgb(136, 65, 65);
}
h2 {
  color: rgb(71, 120, 175);
}
h3 {
  color: rgb(226, 132, 104);
}
